.projectImage {
  max-width: 400px;
  border: 1px solid black;
}


.underlined {
  color: black;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, white 0, white 100%);
  background-position: 0 1.2em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.underlined:hover {
  background-size: 100% 100%;
}

.underlined--offset {
  background-position: 0 0.2em;
  box-shadow: inset 0 -0.5em 0 0 whsite;
}

.underlined-backwards {
  color: black;
  flex: 1;

  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.underlined-backwards:hover {
  background-size: 0% 100%;
}

.underlined-backwards--reverse {
  background-position: 50% 0.2em;
  transition: background 1s;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
}
