/* 
  
.socials ul li {
    list-style: none;
  }
  
.socials ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
.socials ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  } */
  


  
