body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #32323b;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.bold {
  font-weight: 700;
}

.italic {
  
  font-weight: 300;
  font-style: italic;
}

.socials {
  text-align: right;
  position: absolute;
  right: 0px;
}

.socials li{
   padding: 15px;
}

.socials li a{
  padding: 5px;
  font-size: 1.25rem;
 
}

@media screen and (max-width: 480px) {
  .socials {
    padding: 35px 25px;
    display: flex;
  }
}

.container_introduction{
  padding: 75px 100px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container_introduction {
    padding: 35px 25px;
    display: inherit;
  }
}

.introduction_name{
  font-weight: 300;
  font-size: 2.75rem;
}

.introduction_subtext{
  font-weight: 300;
  font-size: 2.25rem;
}

.introduction_subtext .underline_email {
    -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -1px 0 #f0a500;
  box-shadow: inset 0 -3px 0 #f0a500;
}


@media only screen and (max-width: 1170px) {
  .introduction_name,
  .introduction_subtext{
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 775px) {
  .introduction_name,
  .introduction_subtext{
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 480px) {
  .introduction_name,
  .introduction_subtext{
    font-size: 1.5rem;
  }
}

.introduction_email{
  font-weight: 500;
  font-size: 1.5rem;
}

.introduction_email .underline_email {
  margin-left: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  padding: 1px 2px;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -2px 0 #f0a500;
  box-shadow: inset 0 -2px 0 #f0a500;
}

@media only screen and (max-width: 1170px) {
  .introduction_email{  
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 775px) {
  .introduction_email{  
    font-size: 1.25rem;
  }
  .introduction_email .underline_email{
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .introduction_email{  
    font-size: 1rem;
  }
  .introduction_email .underline_email{
    margin: 0;
  }
}

.container_section{
  padding: 50px 100px;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}


@media only screen and (max-width: 1170px){
  .container_section {
    padding: 0px 100px;
    
  }  
}

@media (max-width: 830px) {
      .container_section {
        padding: 0px 0px;
        height: 0vh;
        display: inline-block;
        margin: 15px;
}
}

.Javascript {
  background-color: lightgreen;
  margin-right: .25em;
  padding: .25em .5em;
  font-size: .75em;
  border-radius: .25em;
}

.Northcoders {
  background-color: lightsalmon;
  margin-right: .25em;
  padding: .25em .5em;
  font-size: .75em;
  border-radius: .25em;
}


