.container_section {
  padding: 50px 100px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

.introtext {
  margin: 5px;
  max-width: 900px;
  }

@media only screen and (max-width: 1170px){
  .container_section {
    padding: 0px 100px;
  }  
}

@media (max-width: 830px) {
      .container_section {
        padding: 0px 0px;
        display: inline-block;
        margin: 15px;
}
}