.container {
  padding: 50px 100px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

.avatar {
  
  margin: 5px;
  align-items: center;
  justify-content: center;
  
}

.avatar img{
  position: absolute;


}

.introtext {
  margin: 5px;
  align-items: center;
  justify-content: center;
  max-width: 900px;
   
}


.underlined {
  color: black;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, white 0, white 100%);
  background-position: 0 1.2em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.underlined:hover {
  background-size: 100% 100%;
}

.underlined--offset {
  background-position: 0 0.2em;
  box-shadow: inset 0 -0.5em 0 0 whsite;
}

.underlined-backwards {
  color: black;
  flex: 1;

  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.underlined-backwards:hover {
  background-size: 0% 100%;
}

.underlined-backwards--reverse {
  background-position: 50% 0.2em;
  transition: background 1s;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
}

@media (max-width: 830px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .introtext {
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .avatar{
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1170px){
  .container {
    padding: 50px 100px;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
  }

}


@media only screen and (max-width: 830px) {
  .container {
    padding: 10px 80px;

  }
}